[Unit]
Description=Minecraft Bedrock server

[Service]
User=minecraft
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory={{ home_folder }}/bedrock-server
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/bin/sh {{ home_folder }}/bedrock/bedrock-launcher.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target