[Unit]
Description=Minecraft Bedrock server

[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/minecraft/bedrock-server
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/bin/sh /opt/minecraft/bedrock/bedrock-launcher.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target