#!/bin/sh

export VERSION={{ java_edition_version }}
export BASE_FOLDER={{ home_folder }}
export NAME={{ java_edition_name }}
export BASE_PATH=${BASE_FOLDER}/${NAME}

SERVER_NAME="${NAME}-${VERSION}"
SERVER_FOLDER="${BASE_FOLDER}/${SERVER_NAME}"

if [ -d "${SERVER_FOLDER}" ];
then
    echo "Launch server"
    cd "${BASE_PATH}"
    export LD_LIBRARY_PATH="${BASE_PATH}"
    exec "java -Xmx1024M -Xms1024M -jar server.jar nogui"
else
    echo "Server not found"
fi