#!/bin/sh

export VERSION={{ java_edition_version }}
export BASE_FOLDER={{ home_folder }}
export NAME={{ java_edition_name }}
export BASE_PATH=${BASE_FOLDER}/${NAME}

SERVER_NAME="${NAME}-${VERSION}"
SERVER_FOLDER="${BASE_FOLDER}/${SERVER_NAME}"
SERVER_URL="{{ java_edition_url }}"

if [ ! -d "${SERVER_FOLDER}" ]; then
  echo "Download server from ${SERVER_URL}"
  wget ${SERVER_URL} -O "${SERVER_FOLDER}.zip"

  echo "Unzip server into ${SERVER_FOLDER}"
  unzip "${SERVER_FOLDER}.zip" -d "${SERVER_FOLDER}"

  echo "Link to ${NAME}"
  ln -fs "${SERVER_FOLDER}" "${BASE_PATH}"
fi
