[Unit]
Description=Minecraft Java Edition server

[Service]
User=minecraft
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory={{ home_folder }}/{{ java_edition_name }}
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/bin/sh {{ home_folder }}/{{ java_edition_setup_folder }}/java-edition-launcher.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target